/* Denne style er til banner, men kan sagtens ændre hvis vi bliver enige om nogle generelle padding og margin på siden senere */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Atma-Medium', sans-serif;
}

nav{
  height: 60px;
  background-color: #F7F6F0;
  box-shadow: 0px 6px 18px #888888;
}

nav ul{
  height: 50px;
  list-style-type: none;
}

nav ul li{
  display: inline;
  float: left;
  width: 14.2%;
  text-align: center;
  padding-top: 18px;
}

nav ul li a{
  color: #BC9480;
  transition: color 0.3s ease;
}

nav ul li a:hover{
  color: #5890B4;
}

a{
  text-decoration: none;
}

section{
  display: block;
  float: left;
  width: 100%;
}

h1{
z-index: 1000;
color:#A6E48C;
}

h2{
  font-size: 80px;
  text-align: center;
}

#gitte{
  height: 430px;
}

#gitte img{
  float: left;
  z-index: 110;
  position: absolute;
  margin-top: -100px;
}

main{
  width: 100%;
}

@font-face {
  font-family: "Atma-Light";
  src: url("media/Atma-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Atma-Regular";
  src: url("media/Atma-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Atma-Medium";
  src: url("media/Atma-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Atma-SemiBold";
  src: url("media/Atma-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Atma-Bold";
  src: url("media/Atma-Bold.ttf") format("opentype");
}

#frontcircle{
  float: left;
  width: 490px;
  margin-left: 32%;
  height: 490px;
  border-radius: 245px;
  color: #5890B4;
  font-size: 20px;
  text-align: center;
  border: 4px solid #5890B4;
  background: #F7F6F0;
}

#frontcircle p{
  font-size: 26px;
  margin-top: 140px;
  padding: 0 50px;
  font-family: 'Atma-Regular', sans-serif;
}

#wavybg{
  position: relative;
  margin-top: -80px;
  text-align: center;
  float: left;
  color: #BC9480;
  height: 100%;
  z-index: 120;
}

#wavybg img{
  width: 100%;
}

#wavybg h3{
  margin-bottom: 12px;
}

#wavybg p{
  line-height: 28px;
  font-family: 'Atma-Regular', sans-serif;
}

.bannerswirl{
  z-index: 100;
  margin-top: -88px;
  position: absolute;
}

.values1{
  position: absolute;
  border-right: 1px solid #BC9480;
  padding-right: 7%;
  width: 33%;
  top: 25%;
  left: 10%;
}

.values2{
  position: absolute;
  width: 33%;
  top: 25%;
  right: 10%;
}

#calender{
  margin-top: 60px;
}

#signup{
  text-align: center;
  padding-top: 200px;
  height: 450px;
  color: #F7F6F0;
  margin: 0 auto;
  background: url('media/signupbg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#signup h2{
  line-height: 100px;
}

#signup p{
  font-size: 24px;
  padding-bottom: 50px;
}

.button{
  background: #FFF;
  padding: 20px 60px;
  font-size: 24px;
  color: #A6E48C;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.4s ease;
}

.button:hover{
  background-color: #A6E48C;
  color: #FFF;
}

.calendercontainer{
  width: 80%;
  margin: 40px auto 200px auto;
}

.calendertop{
  padding: 8px 0 8px 14px;
  color: #F7F6F0;
  background: #5890B4;
}

.calenderbody{
  padding: 0 14px;
  color: #5890B4;
  background: white;
}

.calenderbody p{
  border-bottom: 1px solid #E8E2BF;
  padding: 8px 0 10px 0;
}

.bold{
  font-weight: 800;
  padding-right: 20px;
}

.last{
  border: none !important;
}

.logoclass{
  position: absolute;
  z-index: 70;
}

.navli{
  margin-left: 14.2%;
}

#news{
  margin-top: 150px;
}

#news h2{
  color: #A6E48C;
}

#newscontainer{
  width: 80%;
  margin: 40px auto 0 auto;
}

.newselement{
  background: #FFF;
  width: 100%;
  margin-bottom: 30px;
  height: 300px;
  box-shadow: 0px 4px 8px #E3E3E3;
}

.newselement img{
  float: left;
}

.newstext{
  color: #A6E48C;
  float: left;
  padding: 20px 0 0 20px;
  width: 60%;
}

.newsright{
  float: right;
  height: 100%;
  background: #A6E48C;
  width: 10%;
}

/* har bare lavet en random farve til banner */
body {
  background-color: #F7F6F0;
}

/* Random width og height, kan bare ændres når vi bliver enige om siden */
.banner{
      top: 0;
      margin: 0 auto;
      width: 100%;
      height: 581px;
      background-color: #fff;
      overflow: hidden;
      position: relative;
}

.banner h1{
      font-size: 90px;
      color: #A6E48C;
      z-index: 150;
      position: absolute;
      margin: 300px 0 0 200px;
      text-shadow: 0px 4px 24px #000;
}

footer{
  display: block;
  float: left;
  margin-top: 40px;
  width: 100%;
  height: 400px;
  background-image: url('media/dirtfooter.png');
  background-repeat: no-repeat;
}

.bannersection{
}

.banner .bannerimg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;
}

.banner #bannerimg3{
      background-image: url(media/placeholder3.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner #bannerimg2{
      background-image: url(media/placeholder2.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.banner #bannerimg1{
      background-image: url(media/bannerimg1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.bannerbutton{
      width: 40px;
      height: 40px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      top: 290px;
      z-index: 100;
      opacity: 0.8;
      cursor: pointer;
}

.bannerbutton:hover{
      opacity: 0.9;
}

.bannerbuttonl{
      left: 22px;
      background-image: url(media/left-arrow.png);
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
}

.bannerbuttonr{
      right: 5px;
      background-image: url(media/right-arrow.png);
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
}

.banner .banimg-tekst p{
      color: #A6E48C;
      font-size: 40px;
      padding-top: 6px;
}

.banimg-tekst{
      padding-top: 400px;
      padding-left: 202px;
      text-shadow: 0px 4px 16px #000;
}
